

/* general styles */
html, body {
  height: 100%;
  width: 100%;
    overflow: auto;
    position: fixed;

}

/* padded section */

.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */

.my-container .tb {
  position: relative;
  z-index:999;
}

.tb {
  display:table;
  width:100%;
  height:100%;
  position:relative;
}

.tb-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


/* additional sections */

.my-container {
  position: relative;
  /*background: #eef7fa;*/
  overflow: hidden;
  height: 100vh;
  position: relative;

}
.my-container:before {
  content: ' ';
  display: table;
  position: absolute;
/*  top:0;
  left:0;*/
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 1;
  background: url('http://www.mapworld.co.nz/maps/world/superworld.jpg') no-repeat center center fixed; 

  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#about {
}

#projects {
  background-color: #306d9f;
  color: #ffffff;
  height: 100%;
}
#projects .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

/*#information {
  color: #ffffff;
  background: url('http://0.media.collegehumor.cvcdn.com/19/47/3dae4a000d4da699014800205f38d629.jpg') no-repeat center center fixed;
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#information .panel {
  opacity: 0.85;
}


#ideas {
/*  background: url('http://0.media.collegehumor.cvcdn.com/19/47/3dae4a000d4da699014800205f38d629.jpg') no-repeat center center fixed;
*/  display: table;
  /*height: 100vh;*/
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      /*background-size:contain;*/

}
#ideas .panel {
  opacity: 0.85;
}

#contact {
  height: 100vh;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

 /*Header Social Icons*/

.header-social {
  margin-top:40px;

}

.header-social ul {
  margin:0px;
  padding:0px;
}

.header-social ul li {
  display:inline-block;
  list-style:none;
  line-height: 48px;
  margin-right:10px;
  margin-bottom:10px;

}

.header-social ul li a {
  width:50px;
  height:50px;
  font-size:30px;
  border:1px solid black;
  text-align:center;
  display:inline-block;
  color:black;
}

.header-social ul li a {
  transition: all 700ms;
}

.header-social ul li a:hover {
  background: black;
  color: #fff;
}

.header-social ul li a:last-child {
  margin-right:0px;
}


/*.project-circle {
  border: 1px white solid;
  width: 140px;
  height: 140px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}*/



/*.webpage {
  position: absolute;
  top:110px;
  left:44px;
}*/

.iphone-sim {
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.iphone-sim img {
  max-width: 100%;
}

.img-container {
  display: inline-block;
  position: relative;
}


#projects a {
  color: white;
  text-decoration: underline;
} 

@media (max-width: @screen-xs-max) {
  #information {
      background-color: red !important;
      z-index:10000; 
  }
  .positioning{
      position: absolute;
      top: 0px;
      left: 0px;
  }

}


  #information {
    color: #ffffff;
    background: url('http://0.media.collegehumor.cvcdn.com/19/47/3dae4a000d4da699014800205f38d629.jpg') no-repeat center center fixed;
    display: table;
/*    height: auto;
*/    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .positioning{
    position: absolute;
    top: 88px;
    left: 30px;
  }

